@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .cell {
    display: flex;
    flex: 1 1 0;
    min-width: 0;
  }
}

h1 {
  font-size: 2.5rem;
}

button {
  border: 2px solid #000;
  border-radius: 1em;
  padding: 0.5em 1em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
